<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
</head>

<body onbeforeunload="closeForm()">
  <input type="hidden" name="uuid" id = "uuid" value="<%= uuid %>">
  <form id="inputForm">
    <%- inputFieldsHTML %>
    <button type="action" onclick="submitForm()"><%= submitText %></button>
  </form>

  <script>
    function submitForm() {
      var form = document.getElementById('inputForm');
      var formData = new FormData(form);
      var inputValues = {};
      formData.forEach(function (value, key) {
          inputValues[key] = value;
      });
      
      var uuid = document.getElementById('uuid').value;
      google.script.run.withSuccessHandler(function () {
        google.script.host.close();
      }).processUserInput(uuid, inputValues);
    }
    
    var intervalId = window.setInterval(function() {
      var uuid = document.getElementById('uuid').value;
      google.script.run.refreshTimeout(uuid);
    }, 1000);
    window.onunload = function() { window.clearInterval(intervalId) };

  </script>
</body>

</html>