# Logs & modules
/server/logs/
node_modules
dist

# Google App Script
googleAppScript.clasp.json

# Server
server/config/local.json
server/public/img
server/public/pdf
server/public/css/*.css
server/public/css/*.css.map

*.env

# Migration data
unresolved-users.json